{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBABORh_FwIuw1Txbksp7VSy4gkdOVPc4M&sensor=false"></script>
<script type="text/javascript">
var map;
$(document).ready(function() {
  var seattle = new google.maps.LatLng(47.60621, -122.332071);
  var options = {
    center: seattle,
    zoom: 8,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById("map_canvas"), options);
  new google.maps.Circle({
    strokeColor: "#FF0000",
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: "#FF0000",
    fillOpacity: 0.35,
    map: map,
    center: seattle,
    radius: 50000,
  });
  $("#done_editing").hide();
});
var doneEditing = function() { }
function createBoard() {
  $("#select_board").hide();
  $("#done_editing").show();
  var pendingCircle = new google.maps.Circle({
    strokeColor: '#0000FF',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: "#0000FF",
    fillOpacity: 0.35,
    map: map,
    center: map.getCenter(),
    radius: 20000, /* TODO: make radius dynamic */
    editable: true,
  });
  doneEditing = function() {
    var contentString = 'Enter a name for the new board:';
    contentString += '<form method="POST" action="/new_board">';
    contentString += '<input type="text" name="name" /><br>';
    contentString += '<input type="submit" class="btn primary" value="Create" style="margin-top: 10px;" />';
    contentString += '<input type="hidden" name="lat" value="'+pendingCircle.getCenter().lat()+'" />';
    contentString += '<input type="hidden" name="lng" value="'+pendingCircle.getCenter().lng()+'" />';
    contentString += '<input type="hidden" name="radius" value="'+pendingCircle.getRadius()+'" />';
    contentString += '</form>';
    var infoWindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
      position: pendingCircle.getCenter(),
      map: map,
      visible: false,
    })
    infoWindow.open(map, marker);
    pendingCircle.setEditable(false);
    $("#done_editing").hide();
    doneEditing = function() { }
  }
}
</script>
<style type="text/css">
#map_canvas {
  margin-top: 50px;
  margin-left: 70px;
  width: 800px;
  height: 600px;
}
</style>
{% endblock %}

{% block content %}
<div id="map_canvas" style="position: relative; top: 0; left: 0;"></div>

<div style="text-align: center; margin-top: 10px;">
  <div id="select_board">
    Select a message board by clicking a circle, or 
    <input type="submit" class="btn primary" value="Create a board" onclick="createBoard();" />
  </div>
  <div id="done_editing">
    Modify the blue circle above, then click here:
    <input type="submit" class="btn primary" value="Done editing" onclick="doneEditing();" />
  </div>
</div>
{% endblock %}
